{% load staticfiles %} 
<br><br>
<hr>
<div class="container">
	<div class="row-fluid"> <!--changed to row-fluid from just row! -->
		<center>
			<a href="http://www.facebook.com/doornox/" target="_blank"><img id="FacebookLink" width="20px" name="FacebookLink" src="{% static 'jobapp/img/FB-f-Logo__blue_1024.png' %}"></a>
			<a href="http://www.twitter.com/doornox/" target="_blank"><img id="FacebookLink" width="22px" name="TwitterLink" src="{% static 'jobapp/img/Twitter_logo_blue_32.png' %}"></a>
			<!--<a href="http://www.instagram.com/doornox/" target="_blank"><img id="FacebookLink" width="20px" name="FacebookLink" src="{% static 'jobapp/img/Instagram.jpg' %}"></a> --> <!--INSTAGRAM LINK, DO NOT DELETE, HIDDEN TEMPORARILY UNTIL WE HAVE AN INSTAGRAM PAGE -->
			<br>
			<a href="/about/">About</a> <img id="bulletpoint" width="100%" style="max-width:5px" name="bulletpoint" src="{% static 'jobapp/img/Bulletpoint.png' %}" /> <a href="/contact/">Contact Us</a>
			<p> © 2015 Doornox </p>
		</center>
	</div>
</div>
<!--<center> Do not delete. Use for following on twitter @doornox.
<a href="https://twitter.com/Doornox" class="twitter-follow-button" data-show-count="false">Follow @Doornox</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</center> -->
