{% load staticfiles %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="1082746344476-518nlgft0m0sdip3u3ue38vukvl680di.apps.googleusercontent.com">
{% include "jobapp/fbloginscript.html" %}
{% csrf_token %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="margin-top:-8px;"><img id="Dnlogo" width="40px;" name="Dnlogo" src="{% static 'jobapp/img/DoorNox-LinkedIn-4.png' %}" /></a>
      <a class="navbar-brand" href="/" style="margin-top:4px; margin-left:-30px;"><big>Doornox</big> <small><i>beta</i></small></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav nav pull-right">
        <div style="display:none;" id="status"></div>
        <li><a href="/searchjobs/" style="margin-top:2px;"><i class="glyphicon glyphicon-search" style="font-size: 22px;"></i></a></li>
        <li><a href="/signin/" style="margin-top:0px;"><button type="searchjobspage" id = "searchjobspage" class="btn btn-default btn-sm">Login</button></a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- style="margin-bottom:5px; margin-top:-1px;" --> <!--how to make margin on top and bottom -->